@import "tailwindcss";

@theme {
  --color-primary: #288ad6;
  --color-secondary: #0d5cb6;
  --color-yellow: #fbd535;
  --color-bg: #f3f4f6;
  --color-text: #333333;
  --color-bordercustom: #e5e7eb;
  --color-headerbg: #288ad6;
  --color-footerbg: #ffffff;
  --color-sidebarbg: #ffffff;
}

/* Container dùng chung cho layout 1200px (Giống web Thương mại điện tử lớn) */
.container-box {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
